.vacancy {
    padding: 80px 0;

    &__subtitle {
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        color: #191a27;
    }

    &__title {
        margin-top: 24px;
        font-weight: 800;
        font-size: 32px;
        text-align: center;
        color: #191a27;
    }

    &__grid {
        margin-top: 24px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(246px, auto);
        gap: 24px;

        &-item {
            padding: 24px;
            background: linear-gradient(45deg, #df2523 0%, #f08a31 100%);
            border-radius: 8px;

            &-title {
                font-weight: 600;
                font-size: 32px;
                color: #fff;
            }

            &-text {
                margin-top: 8px;
                font-weight: 400;
                font-size: 16px;
                color: #fff;
            }

            &-button {
                margin-top: 16px;
                display: block;
                border-radius: 8px;
                padding: 20px 16px;
                width: 160px;
                background: #191a27;
                border: 1px solid #191a27;
                text-align: center;
                font-weight: 600;
                font-size: 18px;
                color: #fff;
                transition: .3s;

                &:hover {
                    background: transparent;
                    border-color: #fff;
                }
            }
        }
    }
}