.about {
    background: #191A27;
    padding: 64px 0 80px 0;

    &__title {
        font-weight: 800;
        font-size: 32px;
        color: #fff;
    }

    &__grid {
        margin-top: 32px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;

        &-item {
            background-color: #fff;
            min-height: 240px;
            padding: 24px;
            border-radius: 8px;

            &-title {
                font-weight: 700;
                font-size: 32px;
                color: #191a27;
            }

            &-text {
                margin-top: 16px;
                font-weight: 400;
                font-size: 18px;
                color: #191a27;
            }
        }
    }
}