.offer {
    background: #fff;
    padding: 96px 0 32px 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 48px;
    }

    &__title {
        font-weight: 600;
        font-size: 28px;
        color: #191a27;
    }

    &__checkmark {
        width: 24px;
        height: 20px;
    }

    &__list {
        margin-top: 20px;

        &-item {
            height: 52px;
            margin-top: 8px;
            display: flex;
            align-items: center;
            gap: 16px;

            span {
                font-weight: 400;
                font-size: 18px;
                color: #191a27;
            }
        }
    }

    &__button {
        display: block;
        margin-top: 28px;
        background: linear-gradient(45deg, #df2523 0%, #f08a31 100%);
        border-radius: 8px;
        width: 190px;
        padding: 16px 32px;
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        color: #fff;
        transition: .3s;

        &:hover {
            background: linear-gradient(90deg, rgba(223,37,35,1) 0%, rgba(240,138,49,1) 92%);
        }
    }

    &__video {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border-radius: 8px;
    }
}