.promo {
    padding: 64px 0 96px 0;
    overflow: hidden;

    .container {
        position: relative;

        &:before {
            content: "";
            background: url('./assets/img/promo2.svg') left top / cover no-repeat;
            position: absolute;
            width: 653px;
            height: 428px;
            bottom: -145px;
            right: -587px;
        }

        &:after {
            content: "";
            background: url('./assets/img/promo1.svg') right center / cover no-repeat;
            position: absolute;
            width: 376px;
            height: 106px;
            left: -380px;
            top: 66px;
        }
    }

    &__title {
        font-weight: 800;
        font-size: 32px;
        text-align: center;
        color: #fff;
    }

    &__subtitle {
        margin-top: 32px;
        font-weight: 600;
        font-size: 24px;
        text-align: center;
        color: #fff;
    }

    &__text {
        margin-top: 32px;
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        color: #fff;
    }

    &__crumbs {
        margin-top: 8px;
        display: flex;
        justify-content: center;
        gap: 8px;

        &-item {
            padding: 6px 8px;
            border: 1px solid #fff;
            border-radius: 8px;
            font-weight: 500;
            font-size: 16px;
            color: #fff;
        }
    }

    &__button {
        display: block;
        width: 231px;
        margin: 0 auto;
        margin-top: 32px;
        background: #191A27;
        border-radius: 8px;
        padding: 16px 32px;
        font-weight: 500;
        font-size: 24px;
        text-align: center;
        color: #fff;
    }
}