@import './base/normalize';

html {
    scroll-behavior: smooth;
}

.container {
    width: 1060px;
    margin: 0 auto;
}

.header {
    background: #191a27;
}

@media (max-width: 992px) {
    .container {
        width: 100%;
        padding: 0 8px;
    }
}

@import './blocks/header';
@import './blocks/career-vacancy';
@import './blocks/footer';